.chart
  display block
  rect
    fill orange
  text
    fill black
    font 10px sans-serif
    text-anchor end

.axis
  text
    font 10px sans-serif
  path, line
    fill none
    stroke black
    shape-rendering crispEdges
