doctype html

html(lang="en")
  head
    title 00-example
    link(rel='stylesheet', type='text/css', href='style.css')
    link(rel='stylesheet', type='text/css', href='/style.css')

  body

    h2 00-example
    script(type='text/javascript', src='/app.js')
    script(type='text/javascript', src='/bower_components/d3/d3.min.js')
    script(type='text/javascript', src='app.js')
