doctype html

html(lang="en")
  head
    title index
    link(rel='stylesheet', type='text/css', href='style.css')

  body
    h1 index

    // static files
    ul
      li
        a(href='00-example') 00-example
      li
        a(href='01-css-bar-chart') 01-css-bar-chart

